body {
  font-family: Helvetica;
}

header {
  align-items: center;
  background-color: #707070;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px 15px 30px;
  /* width: 100vw; */
}

#header-title {
  font-size: 2em;
}

#header-nav {
  display: flex;
  justify-content: space-around;
  width: 250px;
}

#slogan-section {
  align-items: center;
  box-sizing: border-box;
  background-color: #000000;
  display: flex;
  height: 350px;
  justify-content: center;
  /* width: 100vw; */
}

#slogan {
  color: #e9e05f;
  font-size: 4em;
  font-weight: 700;
}

#content-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: space-evenly;
  padding: 0px 50px 0px 50px;
}

#squares-section {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

#square {
  background-color: #a4ffd7;
  border-radius: 15px;
  height: 225px;
  width: 225px;
}

#rectangles-section {
  box-sizing: border-box;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#rectangle {
  background-color: #ffc36c;
  width: 48%;
  height: 225px;
}

#lower-section {
  box-sizing: border-box;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

#paragraph-section {
  width: 45%;
  box-sizing: border-box;
  padding: 25px;
}

#paragraph {
  font-size: 0.8em;
}

#image-section {
  width: 45%;
  display: flex;
  justify-content: center;
}

#image {
  display: block;
  max-height: 200px;
  max-width: 70%;
}
